@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-color: v.$verde;

    @include m.tablet{
        &.fijo{
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: 1px 2px 3px #333;
        }
    }

    h1{
        color: v.$blanco;
        text-align: center;
        margin: 0;
        
    }

    .contenido-header{
        @include m.tablet {
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.navegacion-principal{
    padding: 20px;
    @include m.tablet {
        display: flex;
        gap: 20px;
    }
    a{
        display: block;
        text-align: center;
        margin-bottom: 15px;
        color: v.$blanco;
        font-size: 22px;
        @include m.tablet {
            margin: 0;
            font-size: 24px;
        }


        &:hover{
            color: v.$amarillo;
        }
    }
}


