@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup{
    background-color: v.$rosa;
    padding: 50px 0;

    h3,p{
        text-align: center;
        color: v.$blanco;
    }
    .dia{
        text-transform: uppercase;
        margin: 50px 0;
    }
}

.escenarios-contenedor{
    @include m.tablet {
        @include m.grid(2, 50px)
    }
    p{
        color: v.$negro;
    }
}

.escenarios{
    padding-top: 20px;

    p{
        &:after{
            content: '';
            display: block;
            width: 200px;
            height: 100px;
            background-size: 150px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 20px auto 0 auto;
        }
    }
}

.edm .nombre-escenario:after{
    background-image: url(../img/icono_edm.png); 
}

.rock .nombre-escenario:after{
    background-image: url(../img/icono_rock.png);
}

.calendario{
    @include m.resetear-lista;

    li{
        padding: 20px;
        font-weight: 700;

        span{
            font-weight: 400;
        }
    }
}

.bg-amarillo{
    background-color: v.$amarillo;

    li:nth-child(odd){
        background-color: darken($color: v.$amarillo, $amount: 15%);
    }
}
.bg-verde{
    background-color: v.$verde;

    li:nth-child(odd){
        background-color: darken($color: v.$verde, $amount: 15%);
    }
}